
@{
    ViewBag.Title = "teklif";
}


<body>
    <div class="container">
        <form id="contact" action="" method="get">
            <div class="form-control">
                <input placeholder="Teklifinizi giriniz:" type="text" required>
                <button class="btn btn-success">Gönder</button>
            </div>

    </div>
    </form>
    </div>
</body>
</html>

